{
    "presets": [
        "@vue/app",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "view-design",
                "libraryDirectory": "src/components"
            },
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
    ]
}
