body {
  ---palette-white: rgba(255, 255, 255, 1);
  ---palette-grey-0: rgba(0, 0, 0, 0.2);
  ---palette-grey-1: rgba(250, 250, 250, 1);
  ---palette-grey-2: rgba(245, 245, 245, 1);
  ---palette-grey-3: rgba(240, 240, 240, 1);
  ---palette-grey-4: rgba(233, 233, 233, 1);
  ---palette-grey-5: rgba(191, 191, 191, 1);
  ---palette-grey-6: rgba(153, 153, 153, 1);
  ---palette-grey-7: rgba(102, 102, 102, 1);
  ---palette-grey-8: rgba(51, 51, 51, 1);
  ---palette-red-0: rgba(92, 0, 17, 0.2);
  ---palette-red-1: rgba(245, 34, 45, 0.3);
  ---palette-red-2: rgba(255, 204, 199, 1);
  ---palette-red-3: rgba(255, 163, 158, 1);
  ---palette-red-4: rgba(255, 120, 117, 1);
  ---palette-red-5: rgba(255, 77, 79, 1);
  ---palette-red-6: rgba(245, 34, 45, 1);
  ---palette-red-7: rgba(207, 19, 34, 1);
  ---palette-red-8: rgba(168, 7, 26, 1);
  ---palette-red-9: rgba(130, 0, 20, 1);
  ---palette-orange-red-0: rgba(97, 11, 0, 0.2);
  ---palette-orange-red-1: rgba(250, 84, 28, 0.3);
  ---palette-orange-red-2: rgba(255, 216, 191, 1);
  ---palette-orange-red-3: rgba(255, 187, 150, 1);
  ---palette-orange-red-4: rgba(255, 156, 110, 1);
  ---palette-orange-red-5: rgba(255, 122, 69, 1);
  ---palette-orange-red-6: rgba(250, 84, 28, 1);
  ---palette-orange-red-7: rgba(212, 56, 13, 1);
  ---palette-orange-red-8: rgba(173, 33, 2, 1);
  ---palette-orange-red-9: rgba(135, 20, 0, 1);
  ---palette-orange-0: rgba(97, 37, 0, 0.2);
  ---palette-orange-1: rgba(250, 140, 22, 0.3);
  ---palette-orange-2: rgba(255, 231, 186, 1);
  ---palette-orange-3: rgba(255, 213, 145, 1);
  ---palette-orange-4: rgba(255, 192, 105, 1);
  ---palette-orange-5: rgba(255, 169, 64, 1);
  ---palette-orange-6: rgba(250, 140, 22, 1);
  ---palette-orange-7: rgba(212, 107, 8, 1);
  ---palette-orange-8: rgba(173, 78, 0, 1);
  ---palette-orange-9: rgba(135, 56, 0, 1);
  ---palette-orange-yellow-0: rgba(97, 52, 0, 0.2);
  ---palette-orange-yellow-1: rgba(250, 173, 20, 0.3);
  ---palette-orange-yellow-2: rgba(255, 241, 184, 1);
  ---palette-orange-yellow-3: rgba(255, 229, 143, 1);
  ---palette-orange-yellow-4: rgba(255, 214, 102, 1);
  ---palette-orange-yellow-5: rgba(255, 197, 61, 1);
  ---palette-orange-yellow-6: rgba(250, 173, 20, 1);
  ---palette-orange-yellow-7: rgba(212, 136, 6, 1);
  ---palette-orange-yellow-8: rgba(173, 104, 0, 1);
  ---palette-orange-yellow-9: rgba(135, 77, 0, 1);
  ---palette-yellow-0: rgba(97, 71, 0, 0.2);
  ---palette-yellow-1: rgba(250, 219, 20, 0.3);
  ---palette-yellow-2: rgba(255, 255, 184, 1);
  ---palette-yellow-3: rgba(255, 251, 143, 1);
  ---palette-yellow-4: rgba(255, 249, 81, 1);
  ---palette-yellow-5: rgba(255, 246, 0, 1);
  ---palette-yellow-6: rgba(250, 219, 20, 1);
  ---palette-yellow-7: rgba(212, 177, 6, 1);
  ---palette-yellow-8: rgba(173, 139, 0, 1);
  ---palette-yellow-9: rgba(135, 104, 0, 1);
  ---palette-lime-0: rgba(37, 64, 0, 0.2);
  ---palette-lime-1: rgba(160, 217, 17, 0.3);
  ---palette-lime-2: rgba(244, 255, 184, 1);
  ---palette-lime-3: rgba(234, 255, 143, 1);
  ---palette-lime-4: rgba(211, 242, 97, 1);
  ---palette-lime-5: rgba(186, 230, 55, 1);
  ---palette-lime-6: rgba(160, 217, 17, 1);
  ---palette-lime-7: rgba(124, 179, 5, 1);
  ---palette-lime-8: rgba(91, 140, 0, 1);
  ---palette-lime-9: rgba(63, 102, 0, 1);
  ---palette-green-0: rgba(9, 43, 0, 0.2);
  ---palette-green-1: rgba(82, 196, 26, 0.3);
  ---palette-green-2: rgba(217, 247, 190, 1);
  ---palette-green-3: rgba(183, 235, 143, 1);
  ---palette-green-4: rgba(149, 222, 100, 1);
  ---palette-green-5: rgba(115, 209, 61, 1);
  ---palette-green-6: rgba(82, 196, 26, 1);
  ---palette-green-7: rgba(56, 158, 13, 1);
  ---palette-green-8: rgba(35, 120, 4, 1);
  ---palette-green-9: rgba(19, 82, 0, 1);
  ---palette-cyan-0: rgba(0, 35, 41, 0.5);
  ---palette-cyan-1: rgba(19, 168, 168, 0.3);
  ---palette-cyan-2: rgba(181, 245, 236, 1);
  ---palette-cyan-3: rgba(135, 232, 222, 1);
  ---palette-cyan-4: rgba(92, 219, 211, 1);
  ---palette-cyan-5: rgba(54, 207, 201, 1);
  ---palette-cyan-6: rgba(19, 168, 168, 1);
  ---palette-cyan-7: rgba(8, 151, 156, 1);
  ---palette-cyan-8: rgba(0, 109, 117, 1);
  ---palette-cyan-9: rgba(0, 71, 79, 1);
  ---palette-blue-0: rgba(0, 39, 102, 0.2);
  ---palette-blue-1: rgba(24, 144, 255, 0.3);
  ---palette-blue-2: rgba(186, 231, 255, 1);
  ---palette-blue-3: rgba(145, 213, 255, 1);
  ---palette-blue-4: rgba(105, 192, 255, 1);
  ---palette-blue-5: rgba(64, 169, 255, 1);
  ---palette-blue-6: rgba(24, 144, 255, 1);
  ---palette-blue-7: rgba(9, 109, 217, 1);
  ---palette-blue-8: rgba(0, 80, 179, 1);
  ---palette-blue-9: rgba(0, 58, 140, 1);
  ---palette-ultramarine-0: rgba(3, 8, 82, 0.2);
  ---palette-ultramarine-1: rgba(47, 84, 235, 0.2);
  ---palette-ultramarine-2: rgba(214, 228, 255, 1);
  ---palette-ultramarine-3: rgba(173, 198, 255, 1);
  ---palette-ultramarine-4: rgba(133, 165, 255, 1);
  ---palette-ultramarine-5: rgba(89, 126, 247, 1);
  ---palette-ultramarine-6: rgba(47, 84, 235, 1);
  ---palette-ultramarine-7: rgba(29, 57, 196, 1);
  ---palette-ultramarine-8: rgba(16, 35, 158, 1);
  ---palette-ultramarine-9: rgba(6, 17, 120, 1);
  ---palette-purple-0: rgba(18, 3, 56, 0.2);
  ---palette-purple-1: rgba(114, 46, 209, 0.3);
  ---palette-purple-2: rgba(239, 219, 255, 1);
  ---palette-purple-3: rgba(211, 173, 247, 1);
  ---palette-purple-4: rgba(179, 127, 235, 1);
  ---palette-purple-5: rgba(146, 84, 222, 1);
  ---palette-purple-6: rgba(114, 46, 209, 1);
  ---palette-purple-7: rgba(83, 29, 171, 1);
  ---palette-purple-8: rgba(57, 16, 133, 1);
  ---palette-purple-9: rgba(34, 7, 94, 1);
  ---palette-magenta-0: rgba(82, 3, 57, 0.2);
  ---palette-magenta-1: rgba(235, 47, 150, 0.3);
  ---palette-magenta-2: rgba(255, 214, 231, 1);
  ---palette-magenta-3: rgba(255, 173, 210, 1);
  ---palette-magenta-4: rgba(255, 133, 192, 1);
  ---palette-magenta-5: rgba(247, 89, 171, 1);
  ---palette-magenta-6: rgba(235, 47, 150, 1);
  ---palette-magenta-7: rgba(196, 29, 127, 1);
  ---palette-magenta-8: rgba(158, 16, 104, 1);
  ---palette-magenta-9: rgba(120, 6, 80, 1);
  --color-border-default: var(---palette-grey-4);
  --color-link: var(---palette-blue-6);
  --color-link-hover: var(---palette-blue-5);
  --color-link-click: var(---palette-blue-7);
  --color-link-disabled: var(---palette-grey-5);
  --color-link-active: var(---palette-blue-6);
  --color-link-shadow: var(---palette-blue-0);
  --color-link-decorate: var(---palette-blue-6);
  --color-success: var(---palette-green-6);
  --color-success-hover: var(---palette-green-5);
  --color-success-click: var(---palette-green-7);
  --color-success-disabled: var(---palette-grey-5);
  --color-success-active: var(---palette-green-6);
  --color-success-shadow: var(---palette-green-0);
  --color-success-decorate: var(---palette-green-6);
  --color-success-light: var(---palette-green-1);
  --color-success-light-hover: var(---palette-green-6);
  --color-success-light-click: var(---palette-green-7);
  --color-success-light-disabled: var(---palette-grey-3);
  --color-success-light-active: var(---palette-green-7);
  --color-success-light-shadow: var(---palette-green-1);
  --color-success-light-decorate: var(---palette-green-7);
  --color-danger: var(---palette-red-5);
  --color-danger-hover: var(---palette-red-4);
  --color-danger-click: var(---palette-red-6);
  --color-danger-disabled: var(---palette-grey-5);
  --color-danger-active: var(---palette-red-5);
  --color-danger-shadow: var(---palette-red-0);
  --color-danger-decorate: var(---palette-red-5);
  --color-danger-light: var(---palette-red-1);
  --color-danger-light-hover: var(---palette-red-6);
  --color-danger-light-click: var(---palette-red-7);
  --color-danger-light-disabled: var(---palette-grey-3);
  --color-danger-light-active: var(---palette-red-7);
  --color-danger-light-shadow: var(---palette-red-1);
  --color-danger-light-decorate: var(---palette-red-7);
  --color-warning: var(---palette-orange-yellow-6);
  --color-warning-hover: var(---palette-orange-yellow-5);
  --color-warning-click: var(---palette-orange-yellow-7);
  --color-warning-disabled: var(---palette-grey-5);
  --color-warning-active: var(---palette-orange-yellow-6);
  --color-warning-shadow: var(---palette-orange-yellow-0);
  --color-warning-decorate: var(---palette-orange-yellow-6);
  --color-warning-light: var(---palette-orange-yellow-1);
  --color-warning-light-hover: var(---palette-orange-yellow-6);
  --color-warning-light-click: var(---palette-orange-yellow-7);
  --color-warning-light-disabled: var(---palette-grey-3);
  --color-warning-light-active: var(---palette-orange-yellow-7);
  --color-warning-light-shadow: var(---palette-orange-yellow-1);
  --color-warning-light-decorate: var(---palette-orange-yellow-7);
  --color-primary: var(---palette-ultramarine-6);
  --color-primary-hover: var(---palette-ultramarine-5);
  --color-primary-click: var(---palette-ultramarine-7);
  --color-primary-disabled: var(---palette-grey-5);
  --color-primary-active: var(---palette-ultramarine-6);
  --color-primary-shadow: var(---palette-ultramarine-0);
  --color-primary-decorate: var(---palette-ultramarine-6);
  --color-primary-light: var(---palette-ultramarine-1);
  --color-primary-light-hover: var(---palette-ultramarine-6);
  --color-primary-light-click: var(---palette-ultramarine-7);
  --color-primary-light-disabled: var(---palette-grey-3);
  --color-primary-light-active: var(---palette-ultramarine-7);
  --color-primary-light-shadow: var(---palette-ultramarine-1);
  --color-primary-light-decorate: var(---palette-ultramarine-7);
  --color-info: var(---palette-grey-6);
  --color-info-hover: var(---palette-grey-5);
  --color-info-click: var(---palette-grey-7);
  --color-info-disabled: var(---palette-grey-5);
  --color-info-active: var(---palette-grey-6);
  --color-info-shadow: var(---palette-grey-1);
  --color-info-decorate: var(---palette-grey-6);
  --color-info-light: var(---palette-grey-4);
  --color-info-light-hover: var(---palette-grey-6);
  --color-info-light-click: var(---palette-grey-7);
  --color-info-light-disabled: var(---palette-grey-3);
  --color-info-light-active: var(---palette-grey-7);
  --color-info-light-shadow: var(---palette-grey-4);
  --color-info-light-decorate: var(---palette-grey-7);
  --color-bg-theme: var(---palette-grey-2);
  --color-bg-0: var(---palette-white);
  --color-bg-1: var(---palette-white);
  --color-bg-2: var(---palette-white);
  --color-bg-3: var(---palette-white);
  --color-bg-4: var(---palette-white);
  --color-fill-0: var(---palette-grey-1);
  --color-fill-1: var(---palette-grey-3);
  --color-fill-2: var(---palette-grey-4);
  --color-fill-3: var(---palette-grey-5);
  --color-fill-4: var(---palette-grey-8);
  --color-text-0: var(---palette-white);
  --color-text-1: var(---palette-grey-5);
  --color-text-2: var(---palette-grey-6);
  --color-text-3: var(---palette-grey-7);
  --color-text-4: var(---palette-grey-8);
  --color-h-1: var(---palette-grey-8);
  --color-h-2: var(---palette-grey-8);
  --color-h-3: var(---palette-grey-8);
  --color-h-4: var(---palette-grey-8);
  --color-h-5: var(---palette-grey-8);
  --color-h-6: var(---palette-grey-8);
  --border-default: 1px solid var(--color-border-default);
  --shadow-size-2: 0 6px 16px 0;
  --shadow-size-1: 0 3px 6px 0;
  --shadow-size-0: 0 1px 2px 0;
  --box-shadow-2: var(--shadow-size-2) var(---palette-grey-3);
  --box-shadow-1: var(--shadow-size-1) var(---palette-grey-4);
  --box-shadow-0: var(--shadow-size-0) var(---palette-grey-5);
  --shadow-default: var(--box-shadow-1);
  --border-radius-3: 100vh;
  --border-radius-2: 8px;
  --border-radius-1: 4px;
  --border-radius-0: 2px;
  --border-radius-default: var(--border-radius-1);
  --font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft YaHei", "PingFang SC" !important;
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-line-height-0: 20px;
  --font-line-height-1: 22px;
  --font-line-height-2: 24px;
  --font-line-height-3: 26px;
  --font-line-height-4: 28px;
  --font-0: var(--font-size-0)/var(--font-line-height-0) var(--font-family);
  --font-1: var(--font-size-1)/var(--font-line-height-1) var(--font-family);
  --font-2: var(--font-size-2)/var(--font-line-height-2) var(--font-family);
  --font-3: var(--font-size-3)/var(--font-line-height-3) var(--font-family);
  --font-4: var(--font-size-4)/var(--font-line-height-4) var(--font-family);
  --font-bold-0: bold var(--font-size-2)/var(--font-line-height-2) var(--font-family);
  --font-bold-1: bold var(--font-size-3)/var(--font-line-height-3) var(--font-family);
  --font-bold-2: bold var(--font-size-4)/var(--font-line-height-4) var(--font-family);
  --font-default: var(--font-1);
  --font-h-6: bold 14px/22px var(--font-family);
  --font-h-5: bold 16px/24px var(--font-family);
  --font-h-4: bold 18px/26px var(--font-family);
  --font-h-3: bold 20px/28px var(--font-family);
  --font-h-2: bold 22px/30px var(--font-family);
  --font-h-1: bold 24px/32px var(--font-family);
  --color-chart-1: var(---palette-red-5);
  --color-chart-2: var(---palette-yellow-5);
  --color-chart-3: var(---palette-green-5);
  --color-chart-4: var(---palette-blue-5);
  --color-chart-5: var(---palette-orange-red-5);
  --color-chart-6: var(---palette-lime-5);
  --color-chart-7: var(---palette-ultramarine-5);
  --color-chart-8: var(---palette-magenta-5);
  --color-chart-9: var(---palette-orange-5);
  --color-chart-10: var(---palette-cyan-5);
  --color-chart-series-1-1: #F5222D;
  --color-chart-series-1-2: #FA8C16;
  --color-chart-series-1-3: #FADB14;
  --color-chart-series-1-4: #A0D911;
  --color-chart-series-1-5: #52C41A;
  --color-chart-series-1-6: #18CFFF;
  --color-chart-series-1-7: #1890FF;
  --color-chart-series-1-8: #2F54EB;
  --color-chart-series-1-9: #722ED1;
  --color-chart-series-1-10: #EB2F96;
  --color-chart-series-2-1: #73D13D;
  --color-chart-series-2-2: #6DCC52;
  --color-chart-series-2-3: #67C868;
  --color-chart-series-2-4: #62C37D;
  --color-chart-series-2-5: #5CBF93;
  --color-chart-series-2-6: #56BAA8;
  --color-chart-series-2-7: #51B6BE;
  --color-chart-series-2-8: #4BB1D3;
  --color-chart-series-2-9: #45ADE9;
  --color-chart-series-2-10: #40A9FF;
  --color-chart-series-3-1: #85A5FF;
  --color-chart-series-3-2: #869CFB;
  --color-chart-series-3-3: #8793F7;
  --color-chart-series-3-4: #898AF4;
  --color-chart-series-3-5: #8A81F0;
  --color-chart-series-3-6: #8C78EC;
  --color-chart-series-3-7: #8D6FE9;
  --color-chart-series-3-8: #8F66E5;
  --color-chart-series-3-9: #905DE1;
  --color-chart-series-3-10: #9254DE;
  --color-chart-series-4-1: #BAE637;
  --color-chart-series-4-2: #C1D534;
  --color-chart-series-4-3: #C8C531;
  --color-chart-series-4-4: #CFB52E;
  --color-chart-series-4-5: #D6A52B;
  --color-chart-series-4-6: #DD9428;
  --color-chart-series-4-7: #E48425;
  --color-chart-series-4-8: #EB7422;
  --color-chart-series-4-9: #F2641F;
  --color-chart-series-4-10: #FA541C;
}